extends layout

block content

  head
    title #{title}


  body
    this shows #{title}<br>
    there are #{rds_commit} rounds of commitment in this judge category<br>
    form#formAddUser(name="adduser",method="post",action="/nsdatab/adduser")
        button#btnSubmit(type="submit") click me baby

    each r in result
      p #{r.last}, #{r.first}